.App {
  background: linear-gradient(to bottom right,#73a4ab, white);  
  
}

.info{
  padding: 5% 15% 15% 5%; 
  grid-gap: .5em;
  background-color: white;
  border-radius: 20px;
  display: block;
  margin-left:30%;
  margin-right:30%;

}

div{
  padding-bottom: 30px;
}

button{
  font-size: 15px;
  width: 1fr;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

img{
  height: 10%;
  width: 20%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 3%;
}